name: Build

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  make:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y pandoc make

      - name: Run make
        run: make
